# Module 4 Final Project

## Time Series Analysis

Name: Hazel Donaldson <br>
Pace: Part-time <br>
Review Date: <br>
Instructor Name: Victor Geislinger <br>

## Introduction
In this project, I will be performing a time series analysis on historical housing data obtained from Zillow. I will be looking for the top 5 zipcodes a real estate developer should invest in (buy homes, renovate and rent to people). This investor is looking for busy, dense metropolitan areas with average house prices around the median.

## 1. Obtain/Load dataset

In [1]:
# import necessary libraries for EDA, visualization and time series analysis
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error as MSE
import warnings
warnings.simplefilter('ignore')
plt.style.use('ggplot')
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

In [2]:
# add functions here
def get_datetimes(df):
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

def melt_data(df):
    melted = pd.melt(df, id_vars=['RegionName', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [3]:
zillow_df = pd.read_csv('zillow_data.csv')
print(zillow_df.info(), '\n')
print(f'Unique amount of zipcodes: {zillow_df.RegionName.nunique()}')
zillow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14723 entries, 0 to 14722
Columns: 272 entries, RegionID to 2018-04
dtypes: float64(219), int64(49), object(4)
memory usage: 30.6+ MB
None

Unique amount of zipcodes: 14723

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

Looking at our data set, I can see that it is provided in wide-format. Further down, I will transform the data set into long format so that it is easier to read. There are 14,723 unique zipcodes in the data, so the next step will be to select the zipcodes that fit the investor's interest.

## 2. Data Preprocessing

In [4]:
zillow_df.isnull().sum()

RegionID         0
RegionName       0
City             0
State            0
Metro         1043
CountyName       0
SizeRank         0
1996-04       1039
1996-05       1039
1996-06       1039
1996-07       1039
1996-08       1039
1996-09       1039
1996-10       1039
1996-11       1039
1996-12       1039
1997-01       1039
1997-02       1039
1997-03       1039
1997-04       1039
1997-05       1039
1997-06       1039
1997-07       1038
1997-08       1038
1997-09       1038
1997-10       1038
1997-11       1038
1997-12       1038
1998-01       1036
1998-02       1036
              ...
2015-11          0
2015-12          0
2016-01          0
2016-02          0
2016-03          0
2016-04          0
2016-05          0
2016-06          0
2016-07          0
2016-08          0
2016-09          0
2016-10          0
2016-11          0
2016-12          0
2017-01          0
2017-02          0
2017-03          0
2017-04          0
2017-05          0
2017-06          0
2017-07          0
2017-08          0
2017-09          0
2017-10          0
2017-11          0
2017-12          0
2018-01          0
2018-02          0
2018-03          0
2018-04          0
Length: 272, dtype: int64

In [5]:
zillow_df.Metro.unique()

array(['Chicago', 'Dallas-Fort Worth', 'Houston', 'El Paso', 'New York',
       'San Francisco', 'The Villages', 'Nashville',
       'Los Angeles-Long Beach-Anaheim', 'Austin', 'Charlotte', 'McAllen',
       'Atlanta', 'Washington', 'San Antonio', 'Clarksville', 'St. Louis',
       'Oklahoma City', 'Phoenix', 'Baltimore', 'Miami-Fort Lauderdale',
       'Brownsville', 'Virginia Beach', 'Seattle', 'Cleveland',
       'Ann Arbor', 'Boston', 'Kansas City', 'Sacramento', 'Tucson',
       'Jacksonville', 'Napa', 'San Diego', 'Albuquerque', 'Hartford',
       'Las Vegas', 'Lancaster', 'Fresno', 'Denver', 'Detroit', 'Vallejo',
       'Pittsburgh', 'Columbus', 'Portland', 'Riverside', 'Yuma',
       'Ithaca', 'Springfield', 'Fort Myers', nan, 'Cincinnati', 'Tampa',
       'Columbia', 'Lafayette-West Lafayette', 'Fayetteville', 'Raleigh',
       'Kennewick', 'College Station', 'Hagerstown', 'Philadelphia',
       'Richmond', 'Indianapolis', 'Tulsa', 'Orlando', 'Greenville',
       'Ventura', 'San Jose', 'Findlay', 'Greeley', 'Daytona Beach',
       'Zanesville', 'Jonesboro', 'Fargo', 'Port St. Lucie', 'Eugene',
       'Rochester', 'Birmingham', 'Hot Springs', 'Durham', 'Fort Collins',
       'Lansing', 'Frankfort', 'Charleston', 'Bowling Green',
       'Chillicothe', 'Winston-Salem', 'Buffalo', 'Bakersfield',
       'Visalia', 'Savannah', 'Hanford', 'Santa Cruz', 'Hickory',
       'Baton Rouge', 'Oxford', 'Warner Robins', 'Montgomery', 'Spokane',
       'New Haven', 'York', 'Gainesville', 'Longview', 'Modesto',
       'Twin Falls', 'Kalispell', 'Chattanooga', 'Salina', 'New Orleans',
       'Jackson', 'Elizabethtown', 'Louisville/Jefferson County',
       'Albany', 'Minneapolis-St Paul', 'Tallahassee', 'Flint',
       'Urban Honolulu', 'Madison', 'Pittsfield', 'Ogden', 'Billings',
       'Starkville', 'La Crosse', 'Myrtle Beach', 'Providence', 'Marion',
       'Bloomington', 'Lubbock', 'Boise City', 'Little Rock', 'Dayton',
       'Augusta', 'Blacksburg', 'Memphis', 'Medford', 'Lawton',
       'Bellingham', 'Amarillo', 'Canton', 'Mobile', 'Gulfport',
       'Davenport', 'Laredo', 'Stamford', 'Mankato', 'Bangor', 'Auburn',
       'Bend', 'Hilo', 'Huntsville', 'Athens', 'Lakeland', 'Kalamazoo',
       'Tyler', 'Boulder', 'Salem', 'Florence', 'Colorado Springs',
       'Michigan City', 'Sioux Falls', 'North Port-Sarasota-Bradenton',
       'Melbourne', 'Wichita', 'Reno', 'Toledo', 'Rapid City',
       'Lafayette', 'Grand Forks', 'Killeen', 'Oshkosh', 'Knoxville',
       'Binghamton', 'Kingsport', 'Burlington', 'Houma', 'Tuscaloosa',
       'Williamsport', 'Green Bay', 'Redding', 'Lexington',
       'Hilton Head Island', 'Allentown', 'Wilmington', 'Asheville',
       'Santa Fe', 'Santa Maria-Santa Barbara', 'Corvallis', 'Milwaukee',
       'Stockton', 'Owensboro', 'Wooster', 'Fairmont', 'Lynchburg',
       'Dubuque', 'Trenton', 'Morgantown', 'Cedar Rapids', 'Eau Claire',
       'Sandusky', 'Fond du Lac', 'Dalton', 'Grand Rapids', 'Hattiesburg',
       'State College', 'Lincoln', 'Olympia', 'Pensacola', 'Provo',
       'Peoria', 'Manitowoc', 'Worcester', 'Roanoke', 'Kerrville',
       'Scranton', 'Akron', 'New Bern', 'Salinas', 'Waterloo',
       'San Luis Obispo', 'Naples', 'Santa Rosa', 'Moses Lake',
       'Oak Harbor', 'Jefferson City', 'Cumberland', 'Milledgeville',
       'Johnson City', 'Del Rio', 'Cookeville', 'Watertown',
       'Charlottesville', 'Elkhart', 'Walla Walla', 'Appleton', 'Utica',
       'Yakima', 'Wenatchee', 'Muskegon', 'Harrisburg', "Coeur d'Alene",
       'Salt Lake City', 'Midland', 'Bozeman', 'Staunton', 'Jamestown',
       'Salisbury', 'Atlantic City', 'Champaign-Urbana', 'Victoria',
       'Kokomo', 'St. George', 'Panama City', 'Corpus Christi',
       'Mount Airy', 'Elizabeth City', 'Odessa', 'New London',
       'Sierra Vista', 'Eagle Pass', 'Cheyenne', 'Wilson', 'Lebanon',
       'Lewiston', 'Anchorage', 'Harrisonburg', 'Dothan', 'Key West',
       'Goldsboro', 'Des Moines', 'Niles', 'Chico', 'Rome',
       'Port Angeles', 'Paragould', 'Prescott', 'San Angelo',
       'Lake Charles', 'Decatur', 'Kingston', 'Cape Girardeau',
       'Vineland', 'Monroe', 'Youngstown', 'Sanford', 'Danville',
       'Joplin', 'Kahului', 'Logan', 'Crestview-Fort Walton Beach-Destin',
       'Shelton', 'Boone', 'Statesboro', 'Fort Wayne', 'Beaumont',
       'El Centro', 'Punta Gorda', 'Farmington', 'Omaha', 'Macon',
       'Ardmore', 'Flagstaff', 'Poplar Bluff', 'Lake Havasu City',
       'Calhoun', 'Pocatello', 'Iowa City', 'Texarkana', 'Winona',
       'Manchester', 'Minot', 'Bremerton', 'Plattsburgh', 'Bismarck',
       'Great Falls', 'Yuba City', 'Idaho Falls', 'Grants Pass',
       'Syracuse', 'Evansville', 'Alexandria', 'Marquette', 'Daphne',
       'Valdosta', 'Topeka', 'Ames', 'Las Cruces', 'Searcy', 'Missoula',
       'Ashtabula', 'Altoona', 'Terre Haute', 'Dover', 'Waco',
       'New Castle', 'Ocala', 'Murray', 'Helena', 'Martinsville',
       'Lumberton', 'Bemidji', 'Quincy', 'Galesburg', 'Spartanburg',
       'Duluth', 'Racine', 'Reading', 'Lufkin', 'Pullman', 'Merced',
       'Beckley', 'Sedalia', 'Williston', 'Natchez', 'Morristown',
       'Muncie', 'Mountain Home', 'McMinnville', 'Ellensburg',
       'Mason City', 'Fort Smith', 'Kankakee', 'Brainerd', 'Shelbyville',
       'Concord', 'Ruston', 'Wausau', 'Paducah', 'Vero Beach',
       'South Bend', 'Stillwater', 'Sevierville', 'Rockford', 'Durango',
       'Rolla', 'Lawrence', 'Rocky Mount', 'Fremont', 'Pueblo', 'Ukiah',
       'Greensboro', 'Ada', 'Hammond', 'Truckee', 'Garden City',
       'Dickinson', 'North Platte', 'Coos Bay', 'Enid', 'Muskogee',
       'Norfolk', 'Muscatine', 'Saginaw', 'Ottumwa', 'Seymour',
       'Harrison', 'Marshalltown', 'Abilene', 'Klamath Falls',
       'Parkersburg', 'Bardstown', 'Rio Grande City', 'St. Cloud',
       'Fort Dodge', 'Stephenville', 'Mount Vernon', 'Erie', 'Emporia',
       'Sidney', 'Madera', 'Winchester', 'Roseburg', 'Grand Junction',
       'Wisconsin Rapids-Marshfield', 'Tahlequah', 'Chambersburg',
       'Owatonna', 'Meadville', 'Bedford', 'Rexburg', 'Georgetown',
       'Stevens Point', 'Moscow', 'Branson', 'Defiance', 'Corinth',
       'Shelby', 'Sebring', 'LaGrange', 'Kingsville', 'Greeneville',
       'Tiffin', 'Sumter', 'Picayune', 'Sheridan', 'Glens Falls',
       'Bartlesville', 'Orangeburg', 'Marietta', 'Madisonville',
       'Traverse City', 'Battle Creek', 'East Stroudsburg', 'Tupelo',
       'Brunswick', 'Junction City', 'Bloomsburg', 'Natchitoches',
       'Crawfordsville', 'Faribault', 'Duncan', 'Cortland', 'Cape Cod',
       'Logansport', 'Bay City', 'Greenwood', 'Casper', 'Payson',
       'Clinton', 'Warrensburg', 'Sioux City', 'Brenham', 'Ocean City',
       'Gettysburg', 'McAlester', 'Huntington', 'Dublin', 'Dyersburg',
       'Corsicana', 'Easton', 'Tullahoma', 'Rock Springs', 'Grand Island',
       'Torrington', 'Dodge City', 'De Ridder', 'Keene', 'Fredericksburg',
       'Ottawa', 'Hays', 'West Plains', 'Vincennes', 'Okeechobee',
       'Tifton', 'Pottsville', 'Coldwater', 'Centralia', 'Juneau',
       'Mansfield', 'Thomaston', 'Pittsburg', 'Batesville', 'Vernal',
       'Brownwood', 'Fort Polk South', 'Hermiston-Pendleton', 'Dunn',
       'Morehead City', 'Weirton', 'Beaver Dam', 'Hutchinson', 'Palatka',
       'Alice', 'Willmar', 'Eureka', 'Seneca', 'Lawrenceburg', 'Peru',
       'Carson City', 'California-Lexington Park', 'Thomasville',
       'Newport', 'Lima', 'Connersville', 'Montrose', 'Fairbanks',
       'Toccoa', 'Brookhaven', 'Mount Pleasant', 'Durant', 'Bastrop',
       'Cedartown', 'Elko', 'Jefferson', 'Cadillac', 'Hannibal',
       'Washington Court House', 'Blackfoot', 'Brevard', 'Gillette',
       'St. Joseph', 'Sterling', 'Lewisburg', 'The Dalles',
       'Wichita Falls', 'Paris', 'Baraboo', 'Henderson', 'Johnstown',
       'Prineville', 'Cambridge', 'Plymouth', 'Morgan City',
       'Pinehurst-Southern Pines', 'Greensburg', 'Plainview', 'Aberdeen',
       'Elmira', 'Jasper', 'Sault Ste. Marie', 'Port Clinton', 'Shawnee',
       'Sandpoint', 'Arcadia', 'Ludington', 'Corning', 'Whitewater',
       'Warsaw', 'DuBois', 'Forest City', 'McComb', 'Deming', 'Newton',
       'Pahrump', 'Moultrie', 'Russellville', 'St. Marys', 'Effingham',
       'Macomb', 'Shreveport', 'Homosassa Springs', 'Coshocton',
       'Laramie', 'Fernley', 'Summit Park', 'Nacogdoches', 'Altus',
       'Show Low', 'Cedar City', 'Olean', 'Beeville', 'Crossville',
       'Laconia', 'Yankton', 'Bogalusa', 'Oneonta', 'Bellefontaine',
       'Newberry', 'Waycross', 'Red Wing', 'Gadsden', 'Riverton',
       'Ponca City', 'Pampa', 'Hood River', 'Greenfield Town',
       'North Vernon', 'Clarksdale', 'Astoria', 'Opelousas',
       'Mineral Wells', 'Hudson', 'Brookings', 'Great Bend', 'Big Rapids',
       'Grenada', 'Angola', 'Laurel', 'La Grande', 'Somerset',
       'Lake City', 'Uvalde', 'Scottsbluff', 'Ogdensburg', 'Liberal',
       'Port Lavaca', 'Miami', 'Holland', 'Wapakoneta', 'Heber',
       'Bradford', 'Kapaa', 'Barre', 'Cullowhee', 'Wabash', 'Sunbury',
       'Marshall', 'Oil City', 'Levelland', 'Clewiston', 'Union City',
       'Gallup', 'Silver City', 'Moberly', 'Martin', 'El Campo',
       'McPherson', 'Glenwood Springs', 'Palestine', 'Kill Devil Hills',
       'Hereford', 'Susanville', 'Van Wert', 'Ontario', 'Los Alamos',
       'Mexico', 'Kendallville', 'Burley', 'Wheeling', 'Woodward',
       'Douglas', 'Cornelia', 'Claremont', 'Adrian', 'Huntingdon',
       'Sheboygan', 'Dumas', 'Ionia', 'Arkansas City-Winfield',
       'Hillsdale', 'Safford', 'Sweetwater', 'Carbondale', 'Clearlake',
       'Parsons', 'Coffeyville', 'Ketchikan', 'Platteville', 'Espanola',
       'Gardnerville Ranchos', 'Fort Leonard Wood', 'Pontiac', 'Atchison',
       'Portsmouth', 'Price', 'Vernon', 'Evanston', 'Hailey', 'Lamesa',
       'Steamboat Springs', 'Sayre', 'Grants', 'Vineyard Haven', 'Berlin',
       'Bluefield', 'Hinesville', 'Wahpeton', 'Manhattan', 'Fergus Falls',
       'Meridian', 'Sikeston', 'Vicksburg', 'Albemarle', 'Kennett',
       'Borger', 'Jesup', 'Alamogordo', 'New Philadelphia',
       'Fort Madison', 'Houghton', 'Cullman', 'Nogales', 'Indianola',
       'New Ulm'], dtype=object)

In [6]:
# Find the zipcodes that are in highly urbanized areas
print(zillow_df.SizeRank.describe())
#Calculate 20% cutoff point
srank_20 = zillow_df.SizeRank.quantile(q=0.20)
print(f'Size Rank 20% cutoff value: {srank_20}')
#New dataframe
top_20_zc = zillow_df[zillow_df['SizeRank'] < srank_20].drop(['RegionID', 'City', 'State', 'Metro', 'CountyName', 'SizeRank'], axis=1)
print(f'Amount of zipcodes: {len(top_20_zc)}')

count    14723.000000
mean      7362.000000
std       4250.308342
min          1.000000
25%       3681.500000
50%       7362.000000
75%      11042.500000
max      14723.000000
Name: SizeRank, dtype: float64
Size Rank 20% cutoff value: 2945.4
Amount of zipcodes: 2945

The number of zipcodes has been narrowed down to 2,945 from 14,723. Now I will narrow down the zipcodes to housing prices that hover around the median price. The average value will be calculated from last year's data as this the data the investor is likely to encounter.

In [7]:
top_20_zc['yr_avg'] = top_20_zc.iloc[:,-12:].mean(skipna=True, axis=1)
print(top_20_zc['yr_avg'].describe())
q_60 = top_20_zc['yr_avg'].quantile(q=0.60)
q_35 = top_20_zc['yr_avg'].quantile(q=0.35)
print(f'Average Value for 60% cutoff rate: {round(q_60, 2)}')
print(f'Average Value for 35% cutoff rate: {round(q_35, 2)}')
pref_zc = top_20_zc[(top_20_zc['yr_avg'] < q_60) & (top_20_zc['yr_avg'] > q_35)]
print(f'Amount of zipcodes: {len(pref_zc)}')

count    2.945000e+03
mean     3.730666e+05
std      5.836511e+05
min      3.632500e+04
25%      1.691333e+05
50%      2.484083e+05
75%      3.978333e+05
max      1.858138e+07
Name: yr_avg, dtype: float64
Average Value for 60% cutoff rate: 290211.67
Average Value for 35% cutoff rate: 198641.67
Amount of zipcodes: 736

The number of zipcodes to consider is now 736. This takes in some of the requirements the investor is looking for: urbanization and median home value.